.scaffolder {
  width: 100%;
  height: 100%;
  position:relative;

  &__menu {
    width:25%;
    padding:5px;
    &__item {
      cursor: pointer;

      & > a {
        color:@text-color;
      }

      &&.active {
        font-weight: bold;
        & > a, & > a:hover {
          color:@text-color;
          background:@gray-lighter;
        }
      }
    }
  }

  &__iframe {
    display: block;
    float:left;
  }

  &--menu {
    .scaffolder__iframe {
      float:none;
      position:absolute;
      left:25%;
      top:0;
    }
  }

  &--head {
    .scaffolder__iframe {
      margin-left:50%;
    }

    .scaffolder__iframe--first {
      margin:0;
      position:absolute;
      left:0;
      top:0;
    }
  }

  &--tail {
    .scaffolder__iframe {
      margin-right:50%;
    }

    .scaffolder__iframe--last {
      margin:0;
      position:absolute;
      right:0;
      top:0;
    }
  }
}
