<div class="scaffolder scaffolder--{{options.layout}} scaffolder--{{options.theme}}"  layout="column" layout-align="start start">
  <div class="scaffolder__header"></div>
  <div class="scaffolder__container" flex>
    <aside ng-show="scaffolder.hasMenu()" class="scaffolder__container__menu">
      <ul class="nav nav-pills" ng-class="{ 'nav-stacked': options.layout === 'menu' }">
        <li ng-repeat="url in options.urls track by $index"
            ng-class="menuLinkClasses($index)"
            class="scaffolder__container__menu__item">
          <a ng-click="scaffolder.activate($index)">
            {{scaffolder.label($index, "Iframe " + ($index+1))}}
          </a>
        </li>
      </ul>
      <h4 class="scaffolder__container__title">{{ scaffolder.getActive( 'Iframe ' + ($index + 1) ).label }}</h4>
    </aside>
    <iframe frameborder="0"
            class="scaffolder__container__iframe"
            width="{{iframeWidth($index, $first, $last)}}"
            height="{{iframeHeight($index, $first, $last)}}"
            ng-class="{'scaffolder__container__iframe--last': $last, 'scaffolder__container__iframe--first': $first}"
            ng-src="{{scaffolder.url($index)}}"
            ng-show="scaffolder.isVisible($index)"
            ng-repeat="url in options.urls track by $index"></iframe>
  </div>
  <div class="scaffolder__footer">
    Built with <a href="//pirhoo.github.io/iframe-scaffolder/" target="_blank">Iframe Scaffolder</a>
    <div class="scaffolder__footer__sharing pull-right" ng-if="options.sharing">
      Share this view&nbsp;
      <a socialshare
         socialshare-text="{{ scaffolder.getActive( 'Iframe ' + ($index + 1) ).label }}"
         socialshare-url="{{ scaffolder.viewUrl(scaffolder.active) }}"
         socialshare-provider="twitter"
         class="scaffolder__footer__sharing__twitter">
        <i class="fa fa-fw fa-twitter"></i>
        <span class="sr-only">Twitter</span>
      </a>
      <a socialshare
         socialshare-name="{{ scaffolder.getActive().label }}"
         socialshare-url="{{ scaffolder.viewUrl(scaffolder.active) }}"
         socialshare-provider="facebook"
         socialshare-type="feed"
         socialshare-to=""
         socialshare-from=""
         socialshare-ref=""
         socialshare-display="popup"
         socialshare-via="%%FACEBOOK_APP_ID%%"
         socialshare-redirect-uri="https://facebook.com"
         class="scaffolder__footer__sharing__facebook">
        <i class="fa fa-fw fa-facebook"></i>
        <span class="sr-only">Facebook</span>
      </a>
    </div>
  </div>
</div>
