.scaffolder {
  width: 100%;
  height: 100%;
  position:relative;
  overflow: hidden;

  &__container {
    width: 100%;
    position:relative;

    &__menu {

      &__item {
        cursor: pointer;

        & > a {
          color:@text-color;
        }

        &&.active {
          font-weight: bold;
          & > a, & > a:hover {
            color:@text-color;
            background:@gray-lighter;
          }
        }
      }
    }
  }

  &--menu &__container__menu {
    width:25%;
    padding:5px;
  }

  &--menu &__container__iframe {
    float:none;
    position:absolute;
    left:25%;
    top:0;
  }

  &--tabs &__container__menu {
    width:20000%;
    padding:5px;
    white-space: nowrap;
  }

  &--narrative &__container__menu {
    width:100%;
    padding:5px;
    white-space: nowrap;
  }

  &--head {
    .scaffolder__container__iframe {
      margin-left:50%;
    }

    .scaffolder__container__iframe--first {
      margin:0;
      position:absolute;
      left:0;
      top:0;
    }
  }

  &--tail {
    .scaffolder__container__iframe {
      margin-right:50%;
    }

    .scaffolder__container__iframe--last {
      margin:0;
      position:absolute;
      right:0;
      top:0;
    }
  }

  &--tabs &__container__iframe,
  &--narrative &__container__iframe {
    position:absolute;
    top: 50px;
    left:0;
    height:~"calc(100% - 50px)";
  }

  &--narrative &__container__menu {
    .pull-left, .pull-right {
      position:relative;
      a:after, a:before {
        position: absolute;
        top:45%;
        .translate(0, -50%);
      }
    }

    .pull-left a {
      padding-left:25px;
      &:before {
        content:"◂";
        left:10px;
      }
    }
    .pull-right a {
      padding-right:25px;
      &:after {
        content:"▸";
        right:10px;
      }
    }
  }

  &__container__title {
    display: none;
    position:absolute;
    top:10px;
    left:50%;
    font-weight:bold;
    line-height: 30px;
    height: 30px;
    margin:0;
    padding: 0 5px;
    .translate(-50%, 0);
  }

  &--narrative &__container__title {
    display: block;
  }

  &__container__iframe {
    display: block;
    float:left;
  }


}
