<div class="introduction">
  <div class="container">
    <h2>Iframe Scaffolder</h2>
    <p class="lead text-muted">This tool helps you to quickly arrange several iframes together.</p>
  </div>
</div>
<div class="container">
  <div class="row editor">
    <div class="col-md-4">
      <div class="panel editor__step panel-default">
        <div class="editor__step__label"></div>
        <form class="panel-body" name="addUrlForm" role="form" ng-submit="addUrl()">
          <div class="input-group">
            <input type="text" required ui-validate="{ isUrl: 'isUrlValid($value)' }" name="newUrl" ng-model="newUrl" class="form-control" placeholder="An URL or an iframe code" />
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-disabled="!addUrlForm.$valid" type="submit" tooltip="Create an iframe with this URL">
                Add
              </button>
            </span>
          </div>
          <div ng-show="addUrlForm.newUrl.$error.isUrl && !addUrlForm.newUrl.$error.required" class="editor__step__error text-danger small">
            This is not a valid URL or iframe.
          </div>
        </form>
        <ul class="list-group">
          <li class="list-group-item editor__step__url" ng-repeat="url in urls track by $index">
            <div>
              <div class="btn-group btn-group-xs pull-right editor__step__url__actions">
                <button type="button" class="btn btn-default" tooltip="Change the label describing this iframe" ng-click="editLabel($index)">
                  Edit label
                </button>
                <button type="button" class="btn btn-default" ng-click="removeUrl($index)" tooltip="Remove this iframe">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
              <a ng-href="{{scaffolder.url($index, true)}}" target="_blank" class="editor__step__url__value">
                {{scaffolder.label($index)}}
              </a>
            </div>
            <form ng-submit="saveLabel($index)" ng-show="!!labels[$index] || labels[$index] === ''" class="editor__step__url__edit-label">
              <div class="input-group input-group-sm">
                <input type="text" ng-model="labels[$index]" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    Save
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="panel editor__step panel-default" ng-class="{ 'editor__step--disable': !urls.length }">
        <div class="editor__step__label"></div>
        <div class="panel-body">
          <p>
            Choose a layout&nbsp;
            <small class="text-muted">(how iframes are arranged)</small>
          </p>
          <div class="text-center">
            <button class="btn btn-default" ng-class="{active: $parent.layout == 'menu'}" ng-click="$parent.layout = 'menu'" tooltip="Toggle iframes using a menu">
              ≡◻
            </button>
            <button class="btn btn-default" ng-class="{active: $parent.layout == 'tabs'}" ng-click="$parent.layout = 'tabs'" tooltip="Toggle iframes using tabs">
              ⎍⎍
            </button>
            <button class="btn btn-default" ng-class="{active: $parent.layout == 'horizontal'}" ng-click="$parent.layout = 'horizontal'" tooltip="All iframes have equal width">
              ▯▯▯
            </button>
            <button class="btn btn-default" ng-class="{active: $parent.layout == 'head'}" ng-click="$parent.layout = 'head'" tooltip="The first iframe use half of the screen, the others a stacked">
              ▯▤
            </button>
            <button class="btn btn-default" ng-class="{active: $parent.layout == 'tail'}" ng-click="$parent.layout = 'tail'" tooltip="The last iframe use half of the screen, the others a stacked">
              ▤▯
            </button>

          </div>
        </div>
      </div>
      <div class="panel editor__step panel-default" ng-class="{ 'editor__step--disable': !urls.length }">
        <div class="editor__step__label"></div>
        <div class="panel-body">
          <p>
            <button class="btn btn-default btn-xs pull-right" ui-zeroclip zeroclip-model="getViewIframe()" tooltip="Copy the embed code to you clipboard.">
              Copy
            </button>
            Export the iframe
          </p>
          <p>
            <textarea class="form-control" readonly>{{getViewIframe()}}</textarea>
          </p>
          <div class="text-muted">
            <div class="pull-left">Change the size&nbsp;</div>
            <div class="text-right">
              <input type="number" ng-model="width" min="50" class="form-control input-sm editor__step__size" />
              x
              <input type="number" ng-model="height" min="50" class="form-control input-sm editor__step__size" />
            </div>
          </div>
        </div>
      </div>
      <div class="text-muted small editor__credits hidden-xs hidden-sm">
        <div class="media">
          <a class="media-left media-middle" href="http://twitter.com/pirhoo" target="_blank">
            <img src="https://secure.gravatar.com/avatar/f514016d15f3d5409177c1031eedb0a5?s=24" class="img-circle img-thumbnail" />
          </a>
          <div class="media-body">
            Hi, I'm <a href="http://twitter.com/pirhoo" target="_blank">@pirhoo</a>.
            &nbsp;You can fork this tool<br />or report an issue
            &nbsp;<a href="http://github.com/pirhoo/iframe-scaffolder/">on Github</a>!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default editor__preview">
        <div class="editor__preview__empty-alert" ng-hide="urls.length">
          <div class="lead editor__preview__empty-alert__message">
            <p>
              Add an iframe's URL on the <span class="hidden-sm hidden-xs">left&nbsp;</span>panel to preview the mosaic here.
            </p>
            <p>
              <a ng-click="pickExample()" class="btn btn-link" ng-show="examples.length">
                See an example.
              </a>
              {{example}}
            </p>
          </div>
        </div>
        <div class="panel-heading">
          <div class="input-group">
            <input class="form-control" type="text" value="{{getViewUrl()}}" readonly />
            <span class="input-group-btn">
              <a class="btn btn-link" href="{{getViewUrl()}}" target="_blank" tooltip="Open the iframe in a new window">
                <i class="glyphicon glyphicon-new-window"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="editor__preview__scaffolder">
          <scaffolder urls="urls" layout="layout" />
        </div>
      </div>
    </div>
  </div>
</div>
