<div class="introduction">
  <div class="container">
    <h2>Iframe Scaffolder</h2>
    <p class="lead text-muted">This tool helps you to quickly build a mosaic of iframes.</p>
  </div>
</div>
<div class="container">
  <div class="row editor">
    <div class="col-md-4">
      <div class="panel editor__step panel-default">
        <div class="editor__step__label"></div>
        <form class="panel-body" role="form" ng-submit="addUrl()">
          <div class="input-group">
            <input type="url" required ng-model="newUrl" class="form-control" placeholder="An URL to use as new iframe" />
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                Add
              </button>
            </span>
          </div>
        </form>
        <ul class="list-group">
          <li class="list-group-item editor__step__url" ng-repeat="url in urls track by $index">
            <div>
              <div class="btn-group btn-group-xs pull-right editor__step__url__actions">
                <button type="button" class="btn btn-default" ng-click="editLabel($index)">
                  Edit label
                </button>
                <button type="button" class="btn btn-default" ng-click="removeUrl($index)">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
              <a ng-href="{{scaffolder.url($index)}}" target="_blank" class="editor__step__url__value">
                {{scaffolder.label($index)}}
              </a>
            </div>
            <form ng-submit="saveLabel($index)" ng-show="labels[$index] || labels[$index] === ''" class="editor__step__url__edit-label">
              <div class="input-group input-group-sm">
                <input type="text" ng-model="labels[$index]" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    Save
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="panel editor__step panel-default">
        <div class="editor__step__label"></div>
        <div class="panel-body">
          <div class="pull-left">
            Choose a layout<br />
            <small class="text-muted">How iframes are arranged</small>
          </div>
          <div class="pull-right">
            <button class="btn btn-default btn-sm" ng-class="{active: layout == 'menu'}" ng-click="layout = 'menu'">
              ≡◻
            </button>
            <button class="btn btn-default btn-sm" ng-class="{active: layout == 'horizontal'}" ng-click="layout = 'horizontal'">
              ▯▯▯
            </button>
            <button class="btn btn-default btn-sm" ng-class="{active: layout == 'head'}" ng-click="layout = 'head'">
              ▯▤
            </button>
            <button class="btn btn-default btn-sm" ng-class="{active: layout == 'tail'}" ng-click="layout = 'tail'">
              ▤▯
            </button>
          </div>
        </div>
      </div>
      <div class="panel editor__step panel-default">
        <div class="editor__step__label"></div>
        <div class="panel-body">
          <p>
            <button class="btn btn-default btn-xs pull-right" ui-zeroclip zeroclip-model="getViewIframe()">
              Copy
            </button>
            Export the iframe
          </p>
          <p>
            <textarea class="form-control" readonly>{{getViewIframe()}}</textarea>
          </p>
          <div class="text-muted">
            <div class="pull-left">Change the size&nbsp;</div>
            <div class="text-right">
              <input type="number" ng-model="width" min="50" class="form-control input-sm editor__step__size" />
              x
              <input type="number" ng-model="height" min="50" class="form-control input-sm editor__step__size" />
            </div>
          </div>
        </div>
      </div>
      <div class="text-muted small editor__credits">
        <div class="media">
          <a class="media-left media-middle" href="http://twitter.com/pirhoo" target="_blank">
            <img src="https://secure.gravatar.com/avatar/f514016d15f3d5409177c1031eedb0a5?s=32" class="img-circle img-thumbnail" />
          </a>
          <div class="media-body">
            Hi, I'm <a href="http://twitter.com/pirhoo" target="_blank">@pirhoo</a>.<br />
            This is an <a href="http://github.com/pirhoo/iframe-scaffolder/">open source</a> tool.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default editor__preview">
        <div class="editor__preview__empty-alert" ng-hide="urls.length">
          <div class="lead editor__preview__empty-alert__message">
            <p>
              Add your iframe's URL on the <span class="hidden-sm hidden-xs">left&nbsp;</span>panel to preview the mosaic here.
            </p>
            <p>
              <a ng-click="pickExample()" class="btn btn-link" ng-show="examples.length">
                See an example.
              </a>
              {{example}}
            </p>
          </div>
        </div>
        <div class="panel-heading">
          <div class="input-group">
            <input class="form-control" type="text" value="{{getViewUrl()}}" readonly />
            <span class="input-group-btn">
              <a class="btn btn-link" href="{{getViewUrl()}}" target="_blank">
                <i class="glyphicon glyphicon-new-window"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="editor__preview__scaffolder">
          <scaffolder urls="urls" layout="layout" />
        </div>
      </div>
    </div>
  </div>
</div>
